@charset "UTF-8";

.game_div {
	background-color: powderblue;
	float: left;
	width: 45.0% ;
	height: 800px;
	border: 5px ;
	margin: 10px;
}

.lobbybutton {
	margin: 10px 10px ;
	display: block;
	padding: 10px;
	border-radius: 3px;
	background-color: pink;
	border: 2px solid #c46493;
}

p {
	align: center;
	text-align: center;
}

.error {
	text-align:center;
	color:red;
}

#createButton {
	display: block;
}

#searchButton {
	display: block;
}


